@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* 
- Mobile: 375px
- Desktop: 1440px
- Weights: 400, 700 */

:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}

body {
  font-size: 18px;
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1rem;
  overflow: hidden;
}
h2 {
  color: var(--Dark-desaturated-blue);
  font-weight: 700;
  font-size: 1.4rem;
}

p,
span {
  color: var(--Dark-grayish-blue);
  font-weight: 400;
}
.top {
  position: absolute;
  top: -60%;
  left: -30%;
}
.bottom {
  position: absolute;
  right: -30%;
  bottom: -85%;
}

.card {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 400px;
  justify-content: center;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.profile {
  position: relative;
  top: -55px;
}
img {
  border-radius: 50%;
  border: 5px solid #fff;
}

ul {
  border-top: 1px solid var(--Dark-gray);
  display: flex;
  justify-content: space-around;
  list-style: none;
  position: relative;
  top: -40px;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
.attribution {
  text-align: center;

  color: #fff;
  position: fixed;
  left: 0;
  bottom: 5px;
  width: 100%;
}

@media (max-width: 765px) {
  .attribution {
    font-size: 0.98rem;
  }
}
@media (max-width: 500px) {
  .top {
    position: absolute;
    top: -100%;
    left: -130%;
  }
  .bottom {
    position: absolute;
    right: -120%;
    bottom: -100%;
  }
}
